@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Public Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
    --font-display: 'Public Sans', ui-sans-serif, system-ui, sans-serif;

    /* Custom Colors */
    --color-primary: #800020;
    --color-background-light: #f6f6f8;
    --color-background-dark: #101622;
    --color-card-light: #ffffff;
    --color-card-dark: #1a2436;
    --color-border-light: #e2e8f0;
    --color-border-dark: #2d3748;
    --color-text-main-light: #111318;
    --color-text-main-dark: #f8fafc;
    --color-text-sec-light: #616f89;
    --color-text-sec-dark: #94a3b8;

    /* Border Radius */
    --radius: 0.25rem;
    --radius-lg: 0.5rem;
    --radius-xl: 0.75rem;
    --radius-2xl: 1rem;
    --radius-full: 9999px;
}

body {
    font-family: 'Public Sans', sans-serif;
}
